<div class="card flex justify-content-center">
  <p-toast></p-toast>
  <p-fileUpload
    name="demo[]"
    chooseLabel="Añadir"
    uploadLabel="Analizar"
    cancelLabel="Cancelar"
    url="https://www.primefaces.org/cdn/api/upload.php"
    (onUpload)="onUpload($any($event))"
    [multiple]="true"
    accept=".xlsx"
    [maxFileSize]="maxSizeFile"
  >
    <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">
          {{ file.name }} - {{ file.size }} bytes
        </li>
      </ul>
    </ng-template>
  </p-fileUpload>
</div>
