<div class="card justify-content-center">
  <div class="flex-row">
    <p-toast></p-toast>
    <div
      class="file-upload-container text-center {{ isLoading ? 'hidden' : '' }}"
    >
      <p-fileUpload
        mode="basic"
        name="file"
        chooseLabel="Añadir"
        [url]="backendUrl"
        (onBeforeUpload)="onBeforeUpload()"
        (onUpload)="onUpload($any($event))"
        [auto]="true"
        accept=".xlsx"
        [maxFileSize]="maxSizeFile"
        [hidden]="isLoading"
      ></p-fileUpload>
    </div>
    <div class="text-center">
      <p-progressSpinner
        styleClass="custom-spinner w-6rem h-6rem"
        *ngIf="isLoading"
      ></p-progressSpinner>
    </div>

    <app-accordion [scheduleFile]="scheduleFile"></app-accordion>
  </div>
</div>
